.plate-list {
    width: calc(100% - 290px);
}

.plate-list .plate-list-item {
    flex-flow: column;
    flex-direction: column;
    justify-content: space-between;
}

.plate-list .plate-list-item .plate-header {
    background: var(--sidebar-color);
    border-radius: 6px;
    padding: 6px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.plate-list .plate-list-item .plate-header .icon {
    position: absolute;
    right: 6px;
    font-size: 22px;
}

.plate-list .plate-list-item .plate-body {
    background: var(--sidebar-color);
    margin-top: 10px;
    padding: 6px;
    border-radius: 6px;
    transition: all .5s ease-in-out;
}

.plate-list .plate-list-item .plate-body.close {
    margin-top: 10px;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all .5s ease-in-out;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item a {
    color: var(--text-color);
    text-decoration: none;
}
.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item a:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item:not(:first-child) {
    border-top: 1px solid var(--card-line-color);
    padding-top: 10px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item .theme-box-left {
    margin-top: 10px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item .theme-box-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item .theme-box-right span {
    margin-left: 3px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item .theme-box-right .theme-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--card-line-color);
    padding-right: 10px;
}

.plate-list .plate-list-item .plate-body .theme-list
.theme-list-item .theme-box-right .comment-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}


/*.plate-list {*/
/*    position: relative;*/
/*    width: calc(100% - 290px);*/
/*    margin-top: 10px;*/
/*    margin-left: 10px;*/
/*    overflow: hidden;*/
/*}*/

/*.plate-list .plate-list-item {*/
/*    flex-flow: column;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*.plate-list .plate-list-item .plate-title {*/
/*    height: 40px;*/
/*    background: var(--sidebar-color);*/
/*    border-radius: 6px;*/
/*    padding-top: 10px;*/
/*    padding-left: 10px;*/
/*    margin-left: 10px;*/
/*    box-shadow: 0 0 1px 1px var(--card-border-color);*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    user-select: none;*/
/*    margin-top: 30px;*/
/*}*/

/*.plate-list .plate-list-item .plate-title i {*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 4px;*/
/*    font-size: 25px;*/
/*}*/

/*.plate-list .plate-list-item .plate-body {*/
/*    height: 160px;*/
/*    margin-top: 10px;*/
/*    background-color: var(--sidebar-color);*/
/*    padding: 10px;*/
/*    transition: height 0.2s;*/
/*    border-radius: 6px;*/
/*    box-shadow: 0 0 1px 1px var(--card-border-color);*/
/*}*/
/*!*.plate-list .plate-list-item .plate-body .plate-son {*!*/
/*!*    margin: 10px;*!*/
/*!*}*!*/

/*.plate-list .plate-list-item .plate-body .plate-son a {*/
/*    color: var(--text-color);*/
/*    text-decoration: none;*/
/*}*/

/*.plate-list .plate-list-item .plate-body .plate-son a:hover {*/
/*    border-bottom: 1px solid var(--text-color);*/
/*}*/

/*.plate-list .plate-list-item .plate-body .plate-son .plate-son-item {*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    margin-top: 10px;*/
/*}*/

/*.plate-list .plate-list-item .plate-body .plate-son .plate-son-item:not(:first-child) {*/
/*    margin-top: 20px;*/
/*}*/

/*.plate-list .plate-list-item .plate-body .plate-son .plate-son-item:not(:first-child) {*/
/*    border-top: 1px solid var(--card-line-color);*/
/*    padding-top: 5px;*/
/*}*/

/*.plate-list .plate-list-item .plate-body .plate-son .plate-son-item .display-part-right {*/
/*    position: absolute;*/
/*    right: 4px;*/
/*}*/
