.login-box {
    position: absolute;
    left: calc(50% - 250px);
    top: 20px;
    background: var(--sidebar-color);
    opacity: .8;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
}

.login-box .login-box-header {
    margin-bottom: -5px;
    font-size: 25px;
    user-select: none;
}

.login-box .login-box-line:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 45px;
    border-radius: 50px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 45px;
    transition: width .3s;
}

.login-box-header span:hover ~ .login-box-line:before {
    width: 60px;
}

.form-box {
    margin: 8px;
    padding: 8px;
    width: 500px;
}

.form-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-item:not(:first-child) {
    margin-top: 10px;
}

.form-input {
    background: var(--body-color);
    color: var(--text-color);
    outline: 0;
    padding: 8px 4px 2px 4px;
    border: 0;
    opacity: .8;
    transition: var(--tran-03);
    border-radius: 4px;
}

.form-input:focus {
    opacity: 1;
}

.line, .line:before {
    position: absolute;
    bottom: 0;
    left: 2px;
    height: 1px;
    width: calc(100% - 8px);
    transition: all .6s;
    background: var(--sidebar-color);
}

.line:before {
    content: "";
    width: 0;
    background: var(--input-border-bottom-color);
}

.form-input:focus ~ .line:before,
.form-input:hover ~ .line:before {
    width: 100%;
}

.form-input:focus ~ .line:before {
    box-shadow: 0 -1px 3px 1px var(--input-border-bottom-color);
}

.checkbox-container input {
    display: none;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    grid-gap: 6px;
    cursor: pointer;
}

.checkbox-container label .checkbox {
    width: 15px;
    height: 15px;
    background: #ccc;
    border-radius: 4px;
    position: relative;
    transition: .2s ease;
    transition-delay: .2s;
}

.checkbox-container label .checkbox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #fff;
    border-radius: 2px;
    transition: .2s ease;
    transition-delay: .2s;
}

.checkbox-container input:checked + label .checkbox::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    transition-delay: 0s;
}

.checkbox-container input:checked + label .checkbox {
    background: var(--theme-color);
    transition-delay: 0s;
}

.checkbox-container label .checkbox .check {
    display: block;
    width: 8px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%) rotateZ(-45deg);
}

.checkbox-container label .checkbox .check::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #fff;
    transition: .2s ease;
    transition-delay: .2s;
}

.checkbox-container label .checkbox .check::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .2s ease;
    transition-delay: 0s;
}

.checkbox-container input:checked + label .checkbox .check::before {
    height: 100%;
    transition-delay: .2s;
}

.checkbox-container input:checked + label .checkbox .check::after {
    width: 100%;
    transition-delay: .4s;
}

.operator a {
    color: var(--theme-color);
    text-decoration: none;
    transition: all var(--tran-03);
}

.operator a:hover {
    border-bottom: 1px solid var(--theme-color);
}

.operator-left {
    float: left;
    margin-left: 8px;
}

.operator-right {
    float: right;
    margin-right: 8px;
}

.form-button {
    margin: 10px 50px 0 50px;
    height: 30px;
    border-radius: 4px;
    background: var(--theme-color);
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    transition: var(--tran-03);
}

.form-button i {
    padding-right: 10px;
}

.form-button span {
    font-size: 14px;
}

.form-button:hover {
    box-shadow: 0 0 6px 0 var(--theme-color);
}

.social-box {
    text-align: center;
}

.dividing-line {
    margin: 50px 0;
    text-align: center;
}

.social-line span::after,
.social-line span::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background: var(--text-color);
    margin: 0 20px;
    vertical-align: middle;
}

.social-line span {
    font-size: 14px;
    color: var(--text-color);
}

.social-login-box {
    text-align: center;
    float: left;
}

.social-login-box a {
    cursor: pointer;
}

.social-login-box i {
    font-size: 30px;
}

.baidu-login, .github-login, .gitee-login {
    margin-left: 10px;
}
.protocol {
    text-align: center;
    margin-top: 20px;
}
.protocol a {
    color: var(--theme-color);
    text-decoration: none;
}

.protocol a:hover {
    color: var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}
