@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --theme-color: #6053fc;
    /*--body-color: #E4E9F7;*/
    --body-color: #F8F8F8FF;
    --sidebar-color: #FFFFFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDDDDD;
    --text-color: #707070;
    --card-border-color: #ececec;
    --card-line-color: rgb(224, 224, 224);
    --forum-list-title-icon-background: #eeeeee;

    --tran-02: all .2s ease;
    --tran-03: all .3s ease;
    --tran-04: all .4s ease;
    --tran-05: all .5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
    overflow: hidden;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFFFFF;
    --text-color: #CCCCCC;
    --card-line-color: #a2a2a2;
    --card-border-color: #565656;
    --forum-list-title-icon-background: #3A3B3C;
    --input-border-bottom-color: #00b2ff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, .3) -3px 5px 5px 5px;
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    min-width: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
    user-select: none;
    -webkit-user-drag: none;
}


.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateX(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}

.sidebar.close header .toggle {
    transform: translateX(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before {
    left: 24px;
}

.hidden-mode-btn {
    opacity: 0 !important;
    overflow: hidden;
}
/*  ================== Main Box ==================  */

.main {
    position: relative;
    height: calc(100% - 302px);
    left: 250px;
    width: calc(100% - 260px);
    background: var(--body-color);
    color: var(--text-color);
    transition: var(--tran-05);
    margin: 10px;
    font-size: 14px;
    overflow-y: scroll;
}

.main .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main .container .container-left {
    position: absolute;
    margin-top: 10px;
    left: 0;
    width: 100%;
}

.main .container .container-right {
    position: absolute;
    right: 0;
}

.sidebar.close ~ .main {
    left: 88px;
    width: calc(100% - 88px);
}

/*  ================== Main Box ==================  */

.footer {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    height: 200px;
    transition: var(--tran-05);
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.footer-box {
    background-color: var(--sidebar-color);
    padding: 10px 0;
}

.footer {
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

.sidebar.close ~ .footer {
    left: 88px;
    width: calc(100% - 88px);
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-group-title {
    font-size: 18px;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
    user-select: none;
}

.footer-col-line:before {
    content: "";
    position: absolute;
    top: 38px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    border-radius: 50px;
    transition: var(--tran-03);
}

.footer-group-title:hover ~ .footer-col-line:before {
    width: 70px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 3px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    color: var(--text-color);
    display: block;
    transition: all .3s ease;
}

.footer-col ul li a:hover {
    color: var(--text-color);
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--sidebar-color);
    margin: 0 10px 10px 0;
    text-align: center;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: var(--text-color);
    padding-left: 10px;
}

.footer-col .contact {
    display: flex;
    flex-direction: row;
}

.footer-col .contact .img {
    display: flex;
    flex-direction: column;
}

.footer-col .contact .img:not(:first-child) {
    margin-left: 5px;
}

.footer-col .contact .img .img-text {
    margin-left: 2px;
    color: var(--text-color);
    text-align: center;
}

.footer-col .contact .img img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    /*-webkit-user-drag: none;*/
}

.footer-col .footer-logo {
    max-width: 253px;
    margin: 10px;
}

.footer-col .footer-logo img {
    width: 100%;
}

.footer-col .footer-description {
    font-size: 14px;
    margin-left: 20px;
}

.footer-col .footer-copyright {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
}

.footer-col .footer-copyright a {
    text-decoration: none;
    color: #83d2f1;
    transition: var(--tran-03);
}

.footer-col .footer-copyright a:hover {
    color: #67c1e8;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 515px) {
    .footer-col {
        width: 100%;
    }
}

/*  ================== Main Box ==================  */
.header {
    position: relative;
    height: 55px;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    background: var(--sidebar-color);
}

.sidebar.close ~ .header {
    left: 88px;
    width: calc(100% - 88px);
}

.header .info-links {
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

.header .info-links .info-link {
    margin: 10px;
    text-align: center;
}

.header .info-links .info-link a {
    text-decoration: none;
    margin: auto;
}

.header .info-links .info-link a .user-avatar {
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #67cd03;
    color: #FFFFFF;
}

.header .info-links .info-link a i {
    font-size: 18px;
    color: var(--text-color);
    margin-top: 6px;
}

body.dark .header .info-links .info-link a i:hover {
    color: #ffffff;
}

.header .info-links .info-link a i:hover {
    color: #4d4d4d;
}
